*{
    margin: 0;
    padding:0;
}

body{
    font-family: 'Karla', sans-serif;
    background-color: #b0a25d;
    background-image: url("https://www.transparenttextures.com/patterns/greyzz.png");
    font-family: 'Roboto Condensed', sans-serif;
}

#logo{
    width:75px;
}

.navbar-nav { 
    flex-direction: row;
}
.navbar-nav li{
    margin-right: 15px;
}
.navbar-nav a{
    text-decoration: none;
    color: black;
}

/* Main homescreen image */
#welcomeImg img{
    box-shadow: 10px 10px 5px grey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    filter: brightness(75%);
    opacity: .8;
}
#welcomeImg .container{
    position: relative;
    text-align: center;
}
#pageTitle{
    color: white;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 4em;
    font-family: 'Lilita One', cursive;
}


/* Main page content */
#content .container{
    width: 80%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 0 auto;

}
.card{
    margin-right: 20px;
}
.card:hover{
    transform: scale(1.1)
}

/* Donate form */ 
#donateHere .container{
    background-color: rgb(233, 228, 228);
    margin-top: 50px;
} */
form li{
    display: inline;
}

.btn-success{
    transform: scale(1.2);
}

.jumbotron img{
    width: 50%;
    display: inline-block;
}
.jumbotron h1{
    display: inline;

}
